{% extends "admin/index.html" %}

{% block content %}
  <div class="module">
    <table>
      <caption>
        <a href="{% url 'api:update-timetable' %}" class="section">Управление данными расписания</a>
      </caption>
      <tbody>
        <tr>
          <th scope="row">
            <a href="{% url 'api:update-timetable' %}">Обновление данных</a>
          </th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="module">
    <table>
      <caption>
        <a href="{% url 'api:rebuild-opensearch' %}" class="section">Настройка OpenSearch</a>
      </caption>
      <tbody>
        <tr>
          <th scope="row">
            <a href="{% url 'api:rebuild-opensearch' %}">Пересборка индексов/документов</a>
          </th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ block.super }}
{% endblock content %}
